{% extends 'base.html.twig' %}

{% block title %}New Groupe{% endblock %}

{% block body %}
    <h1>Create new Groupe</h1>
    <div class="row col-8">
        <a type="button" class="btn btn-outline-success" href="{{ path('groupe_index') }}">Revenir à la liste</a>
    </div>
    <br>
    {{ include('groupe/_form.html.twig') }}
{% endblock %}
