{% extends 'base.html.twig' %}

{% block title %}Gestion des Etudiants{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F7F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Gestion des Etudiants !</h1>

    Par Louis, Kevin et Yanis
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/gestion-des-etudiants/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/gestion-des-etudiants/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
