{% extends 'base.html.twig' %}

{% block title %}Hello XlsImportController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{form_row(form.fichier) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
