{% extends 'base.html.twig' %}

{% block title %}New SousGroupe{% endblock %}

{% block body %}
    <h1>Create new SousGroupe</h1>
    <div class="row col-8">
        <a type="button" class="btn btn-outline-success" href="{{ path('sous_groupe_index') }}">Revenir à la liste</a>
    </div>
    <br>
    {{ include('sous_groupe/_form.html.twig') }}
{% endblock %}
