{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    <div class="row col-8">
        <a type="button" class="btn btn-outline-success"href="{{ path('user_index') }}">Revenir à la liste</a>
    </div>
    <br>
    {{ include('user/_form.html.twig') }}
{% endblock %}
